* {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

:root{
    /* COLOURS */
    --footerColour: rgba(30,30,30,1);
    --brandColour: rgb(68, 68, 68);
    --black: #1A1A1AFF;
    --lightGrey: #F5F5F5FF;
    --white: #FFFFFFFF;
    --borderGrey: #B3B3B3FF;
    --textGrey: #B9B9B9FF;
    --textBodyBlack: #B9B9B9FF;
    --textMidGrey: #4D4D4DFF;
    --textBlack: #1A1A1AFF;
    --textBodyBlack: #333333FF;

    /* FIXED WIDTHS AND BORDERS */
    --mediaWidth: 600px;
    --sideMargins: clamp(2rem, 6vw, 5rem);
    --borderWidth: 3px;
    --borderWidth-S: 1.75px;

    /* TYPEFACES */
    /* --ff-title-bold: "muli-bold", sans-serif;
    --ff-title-bold-italic: "muli-bold-italic", sans-serif;
    --ff-title-semibold: "muli-semibold", sans-serif;
    --ff-title-regular: "muli-regular";
    --ff-body-regular: "lato-regular", sans-serif;
    --ff-body-italic: "lato-italic", sans-serif;
    --ff-body-bold: "lato-bold", sans-serif; */
  }
  

body {
	background-color: white;
}

    /* BODY */
.site-wrapper {
	display: grid;
	grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
	grid-template-rows:auto auto auto auto;
	grid-template-areas: 
		"header header header header"
		"navbar navbar navbar navbar"
		"margin-left library-area library-area margin-right"
		"footer footer footer footer";
	column-gap: clamp(1rem,3vw,3rem);
	position: relative;
}

/* HEADER */
.site-header{		
	justify-self: center;
	padding: 1rem var(--sideMargins) 0 var(--sideMargins);
	grid-area: header;
	display:grid;
	/* grid-template-columns: auto minmax(1rem,2fr) 3.5fr 0.25fr auto; */
	/* width: calc(100% - 2*var(--sideMargins)); */
	/* border-bottom: var(--borderWidth) solid var(--brandColour); */
}

.site-header-title-wrapper{
	display:flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.site-header-title{
	margin: 0 10px;
	color: black;
	font-family: 'Source Serif 4', serif;
	font-size: 2.2rem;
	font-weight:200;
	letter-spacing: 0.625rem;
}

.site-header-subtitle{
	margin: 0 10px;
	color: black;
	font-family: 'Source Serif 4', serif;
	font-size: 1.25rem;
	font-weight:300;
	letter-spacing: 0.325rem;;
}

.main-navbar{
	grid-area: navbar;
	padding: 1rem 0 1rem 0;
	margin: 1rem var(--sideMargins);
	display: grid;
	border-bottom: 2px solid;
}

.main-navbar-link{
	text-decoration: none;
	margin: 0 10px;
	color: black;
	font-family: Raleway, sans-serif;
	font-size: 1rem;
	font-weight:500;
}  

/* .home-header{

}

.home-header-title{

	
} */



.lowlight {
	opacity: 0.5;
}

/* LIBRARY */
.library-title{
	margin: 0 10px;
	color: black;
	font-family: 'Source Serif 4', serif;
	font-size: 2rem;
	font-weight:350;
}


.library-wrapper {
	display: grid;

	/* margin: 0, 5px; */
	/* padding: 1rem var(--sideMargins) 0 var(--sideMargins); */
	gap: 3rem;
	margin: 2rem 0;
}

.view-top-section-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.view-shelf-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-end;
	flex-shrink: 100;
}

.view-wrapper {
	display: grid;
	gap: 0;
	margin: 2rem 0 0;
}


.library-slot{
	grid-area: library-area;
}

.yourShelf{
	/* position: sticky; */
	top: 0;
	background-color: white;
	z-index: 1;
	/* margin: 0 0 2rem 0; */
	
}

.shelf{
	/* margin: 0, 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	padding:0px; */
}

.shelf-separator-container{
	margin: 0 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.shelf-separator{
	border-top:1px solid rgb(231, 231, 231);
	border-bottom:1px solid rgb(231, 231, 231);
	background-color: rgb(182, 182, 182);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 12px 0px;
	clip-path: inset(-10px -100px -100px 0px);
	height: 0.125rem;
	width: 25%;
}

.view-facet-title-box{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    min-height: 1rem;
    padding: 0.5rem 0;
    align-items: flex-start;

}

.shelf-title-box{
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	min-height: 2rem;
	padding: 0.5rem 0;
	pointer-events : none; 
	/* pointer-events allows hover to pass through */
}

.yourShelf-title-box{
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	min-height: 1rem;
	padding: 0.5rem 0;
}

.yourShelf-title {
	margin: 0 0.8rem;
	color: black;
	font-family: 'Source Serif 4', serif;
	font-size: 1.55rem;
	font-weight:350;
	/* text-decoration: underline; */
}

.shelf-title {
	margin: 0 10px;
	color: black;
	font-family: Raleway, sans-serif;
	font-size: 1.25rem;
	font-weight:300;
	/* text-decoration: underline; */
}
.view-facet-title {
	margin: 0 0.8rem;
	color: black;
	font-family: 'Source Serif 4', serif;
	font-size: 1.45rem;
	font-weight:300;
	/* text-decoration: underline; */
}

.view-facet-description{
	margin: 0.4rem 0.8rem;
	color: black;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 1rem;
	font-weight:350;
}


.view-shelf-description{
	margin: 0.4rem 0.8rem;
	color: black;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 1rem;
	font-weight:350;
}



.yourShelf-description{
	margin: 0.4rem 0.8rem;
	color: black;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 1rem;
	font-weight:350;
}

.shelf-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-end;
	flex-shrink: 1;
}

.view-section-wrapper{
	margin: 0, 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	padding:0px;
	flex-grow:0;
}

.section-wrapper{
	margin: 0, 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	padding:0px;
	flex-grow:1;
}

.section-wrapper:last-child{
	flex-grow:1000;
}


.section-item-box{
	
}



.section-shelf-box{
	z-index: 2;
	border-top:1px solid rgb(231, 231, 231);
	border-bottom:1px solid rgb(231, 231, 231);
	background-color: whitesmoke;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 12px 0px;
	clip-path: inset(0px 0px -100px 0px);
	height: 10px;
	width: 100%;
}

.section-inner:last-child{
	flex-grow:1000;
}

.section-inner{
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-end;
	align-items: flex-end;
	gap: 0px 7.5px;
	flex-grow:1;
}

.view-section-title-box-rhs {
    margin: 10px 0;
    display: grid;
	grid-template-rows: auto auto 3fr auto;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-start;
    color: black;
    text-align: left;
}

.view-section-title-box-rhs
.section-shelf-box{
	grid-row-start: 4;
	grid-row-end: 5;
}

.section-title-box {
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
	color: black;
	text-align: right;
}

.view-section-category {
	padding: 0 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: black;
	width: 100px;
	/* word-spacing: 100vw; */
}

.section-category {
	padding: 0 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 0.65rem;
	font-weight: 400;
	color: black;
	width: 100px;
	/* word-spacing: 100vw; */
}

.yourShelf-section-category {
	padding: 0 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: black;
	width: 100px;
	/* word-spacing: 100vw; */
}

.view-section-value {
	padding: 0 10px;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	margin: 5px 0;
}

.section-value {
	padding: 0 10px;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
	color: black;
	margin: 5px 0;
}

.yourShelf-section-value {
	padding: 0 10px;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	margin: 5px 0;
}

.item-wrapper{
	filter: drop-shadow(-0px 3px 8px rgba(99, 99, 99, 0.4));
	z-index: -2;
}



.mark-item-top{
	top: 2px;
	left: 2px;
	height: 20px;
	width: 100%;
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: inline-block;
	border-radius: 2.5px;

	/* box-shadow: rgba(99, 99, 99, 0.4) 0px 3px 8px 0px; */
}

.mark-item-top-background{
	z-index: -2;
	top: 0px;
	left: 0px;
	height: 22px;
	width: 100%;
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: inline-block;
	background: white;
	border-radius: 2.5px;
}


.book-item{
	position: absolute;
	bottom: 2px;
	left: 2px;
	padding: 0.5rem 0.25rem;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
	border-radius: 2.5px;
}

.book-item-background{
	z-index: -4;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 2.5px;
	display: inline-block;
	background: white;
}

.agent-item{
	position: absolute;
	bottom: 2px;
	left: 2px;
	padding: 0.75rem 0.25rem;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
	border-radius: 20px;
}

.agent-item-background{
	z-index: -4;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 20px;
	display: inline-block;
	background: white;
}

.mark-item{
	position: absolute;
	bottom: 2px;
	left: 2px;
	padding: 0.1rem 0.25rem 0.5rem;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
	border-radius: 2.5px;
}

.mark-item-background{
	z-index: -4;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 2.5px;
	display: inline-block;
	background: white;
}

.item-value{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
    align-items: flex-start;
	white-space: nowrap;
	width: max-content;
	max-width: 100%;
	overflow:hidden;

	/* flex-shrink: 1; */
}

.item-value p{ 
	writing-mode: vertical-rl;
	text-overflow: ellipsis;
	line-height: 0.8rem;
	transform:scale(1);
	overflow:hidden;
	cursor: default;
	font-family: 'Raleway', sans-serif;
	font-size: 0.7rem;
	font-weight: 500;
	/* color: rgb(30,30,30); */
 }

.item-value p::first-letter{ 
	overflow:hidden;
	cursor: default;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
	/* color: black; */
 }

.item-menu-header-container{
	margin: 0.5rem 0 0 0;
}

.item-view-header-container{
	margin: 0.5rem 0.8rem 0.1rem;
	border-bottom: 1px solid #eee;
	width: 90%;
	/* margin: auto */
	
}

 .item-menu-header{
	margin: 0.5rem 0 0.5rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
	color: rgb(97,97,97);
	width: 100%;
	text-align: center;
 }

 .item-view-header{
	margin: 0.5rem 0 0.5rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	font-weight: 450;
	color: rgb(97,97,97);
	width: 100%;
	text-align: left;
 }

 .item-menu-subheader{
	margin: 0.2rem auto 0rem;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 550;
	color: rgb(30, 30, 30);
	width: 100%;
	text-align: center;
    max-width: 16rem;
    padding: 0.1rem 1rem;
 }

 .item-menu-subheader-type{
	margin: 0.2rem 0 0rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.6rem;
	font-weight: 450;
	color: rgb(97,97,97);
	width: 100%;
	text-align: center;
 }

 .item-view-subheader-type{
	margin: 0.2rem 0 0.1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.725rem;
	font-weight: 450;
	color: rgb(97,97,97);
	width: 100%;
	text-align: left;
 }
 
 .item-menu-container{
	padding: 0.5rem 0 0;
	max-height: 50rem;
	width: 100%;
 }
 

 body::-webkit-scrollbar {
    width: 0.9rem;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);    /* color of the scroll thumb */
    border-radius: 25px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(238, 238, 238);  /* creates padding around scroll thumb */
  }

  .scrollable::-webkit-scrollbar {
    width: 0.6rem;               /* width of the entire scrollbar */
  }
  
  .scrollable::-webkit-scrollbar-track {
    background: rgb(247, 247, 247);        /* color of the tracking area */
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);    /* color of the scroll thumb */
    border-radius: 25px;       /* roundness of the scroll thumb */
    border: 0.1rem solid rgb(247, 247, 247);  /* creates padding around scroll thumb */
  }

  .scrollable{
    overflow-y: auto;
  }
  
.item-menu{
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
	background: white;
	max-width: 20rem;
	max-height: 25rem;
	padding: 0.2rem 0.4rem;
	border-radius: 0.25rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	font-weight: 450;
	color: #303030;
}

.item-view{
	margin: 0;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
	background: white;
	width: 100%;
}

.item-menu h4{
	font-weight: 650;
	margin: 0 0 0.2rem 0;
}

.item-menu ul li{
	margin: 0.8rem;
} 

.item-menu .item-view ul li h4{
	margin: 0 0 0.2rem 0;
	color: #303030;
	font-family:'Raleway', sans-serif;
	font-size: .8rem;
	font-weight: 650;
	line-height: 0.9rem;

}

.item-menu .item-view ul li h3{
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	font-weight: 450;
	color: #303030;
}



/* Buttons */

.shelf-button-wrapper{
	margin: 0.2rem 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.view-wrapper
.shelf-button-wrapper{
	margin: 0.2rem 0.4rem 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.shelf-button{
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family:'Raleway', sans-serif;
  font-size: .7rem;
  font-weight: 600;
  line-height: 0.9rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.shelf-button:hover {
  background-color: rgb(249,250,251);
}

.shelf-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.shelf-button:focus-visible {
  box-shadow: none;
}

.shelf-button:active {
	box-shadow: none;
}

.library-display-button-wrapper{
    margin: 0.2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    gap: 5vw;
}


.library-button-wrapper{
    margin: 0.2rem 0.4rem 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    /* width: 100%; */
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    height: 5rem;
}


.library-button{
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: 'Source Serif 4', serif;
    font-size: 1.35rem;
    font-weight: 350;
    line-height: 0.9rem;
    padding: 0.4rem 0.8rem;
    text-align: center;
    width: 100%;
    height: 100%;
    letter-spacing: 0.425rem;
}

.close-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-radius: 10rem;
    height: 1rem;
    width: 1rem;
    box-shadow: none;
    position: absolute;
    top: 0rem;
    right: 0.5rem;
    fill: grey;
}

.close-button:hover {
    background-color: rgb(230, 230, 230);
}

.to-top-button {
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	padding: 4px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	cursor: pointer;
	position: fixed;
	bottom: 3.5vw;
	display: none;
	right: 3.5vw;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 50%;
	color: black;
	cursor: pointer;
	font-size: 16px;
	line-height: 48px;
	z-index: 2;
  }


  .shelf-button p{
	display: inline;
	padding: 0.2rem;
  }

  .showButton {
	display: block;
  }


  /* View SideBar */
  
.sidebar {
	display: grid;
	grid-template-rows: 2rem repeat(4, 1fr);
	border-radius: 100px 100px 100px 100px;
	color: black;
	background-color: white;
	float: left;
	position: fixed;
	z-index: 2;
	top: 15vw;
	left: 0;
	bottom: 15vw;
	padding: 0.5em;
	transition: 0.3s ease-in-out;
	box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.1), 1px 0 2px 0 rgba(0, 0, 0, 0.06);
  }
  
  .sidebar h1 {
	height: 2.5em;
  }

  
  .sidebar h3{
	color: #111827;
	font-family:'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2rem;
	padding: 0.8rem 0;
  }
  
  .collapse-icon {
	grid-column-start: 1;
	grid-column-end: 2;
	position: absolute;
	top: 0.5vw;
	left: 22.1vw;
	margin: 0.55em;
	/* color: rgba(255, 255, 255, 0.7); */
	cursor: pointer;
	color: rgb(63, 63, 63);
	transition: 0.3s ease-in-out;
  }
  
  .rotate-180 {
	transform: translate(-22vw, 0) rotate(180deg);
	transition: 0.3s ease-in-out;
  }

  .colour-icon {
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* cursor: pointer; */
  }

  .size-icon {
	grid-row-start: 3;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* cursor: pointer; */

  }

  .label-icon{
	grid-row-start: 4;
	grid-row-end: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* cursor: pointer; */
  }

.arrange-icon{
	grid-row-start: 5;
	grid-row-end: 6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* cursor: pointer; */
  }

  